flot3
[{"id":"75d02185.bcbc5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d9957b78.12d6e8","type":"inject","z":"75d02185.bcbc5","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["dd299f0b.bb71d"]]},{"id":"dd299f0b.bb71d","type":"function","z":"75d02185.bcbc5","name":"payload","func":"msg.headers={\n    deviceKey:\"Y5Pt8UPNHfOCvEWM\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["7dbf4db1.c2fa84"]]},{"id":"7dbf4db1.c2fa84","type":"http request","z":"75d02185.bcbc5","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DTBCQTTB/datapoints.csv","tls":"","x":410,"y":180,"wires":[[]]}]